body{
    margin : 0px;
    padding : 0px;
    /* font-family: "Roboto", sans-serif; */
}

.navigation{
    display : flex;
    justify-content : space-between;
    background-color : rgba(0,0,0,0.5);
    align-content: center;
    align-items: center;
    color : white;
    padding-left: 30px; 
    padding-right : 30px;
    padding-top : 10px;
    padding-bottom : 10px;
      
}

nav{
     /* padding : 20px; */
     display : flex;
}

nav a{
    font-weight : 800;
    text-decoration : none;
    color : white;
    margin-left : 30px;
    font-family : "Roboto", sans-serif;
}

header{
    background: linear-gradient(to right, rgba(0,0,0,0.8), white), url('../images/back.webp');
    background-blend-mode: multiply;
    background-size: cover;
}

.container{
    margin-left : 200px;
    margin-right : 120px;
    display : flex;
    flex-direction : column;
    width : 30%;
    padding-bottom : 150px;
}

.logo{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight : 600;
}

.heading{
    font-family:"Bebas Neue", sans-serif;
    font-size : 60px;
    margin-top : 50px;
    color : white;
    line-height : 1.1;
}

#para{
    font-family: "Roboto", sans-serif;
    font-size : 24px;
    font-weight: 300;
    color : white;
    line-height: 1.4;
    padding-bottom : 20px;
    margin-top : 10px;
}

.divider{
    border-top : 0.1px solid rgba(255, 255, 255, 0.2);
   
}

.icons{
    padding-top : 30px;
}

.social_icon img{
    width : 40px;
    height : 40px;
}

.social_icon{
    margin-right : 10px;
}

.box img{
    width : 80px;
    height : 80px;
}

#services{
    padding-top : 130px;
    padding-bottom : 330px;
    margin-left : 200px;
    margin-right : 200px;
    display : grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap : 20px;
}

.divider{
    border-left : 1px solid lightgray;
}

.box{
    text-align : center;
}

.box h3{
    font-size : 22px; 
    font-family: "Bebas Neue", sans-serif;
    font-weight : 400;
    color : #140748;
}

.box p{
    color : #666666;
    font-family: "Roboto", sans-serif;
    font-size : 16px;
}

#support{
    padding : 0px 130px 130px 130px;
    background-color : #140748;
    color : white;
    position : static;
    height : 330px;
}

.head{
    padding-bottom : 10px;
}

.head h2{
    font-family: "Bebas Neue", sans-serif;
    font-size : 40px;
    font-weight : 400;
    margin-bottom : 0px;
}
.description p{
    font-family : "Roboto", sans-serif;
    font-size : 22px;
    font-weight : 300;
    margin-top : 0px;
}

#three_items{
    position : relative;
    bottom : 250px;
    display : flex;
    margin-top : 80px;
    padding-left : 50px;
    padding-right : 50px;
}
.mail_img{
    display : flex;
    align-items : center;
    width : 285px;
    justify-content: center;
}
.swipe_images{
    display : flex;
    justify-content : space-between;
    position : relative;
    bottom : 200px;
    padding-bottom : 30px;
}

.two_items{
    padding-right : 70px;
}

.circle-loader {
  position : relative;
  bottom : 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top : 5px;
  padding-bottom : 5px;
}

.circle-loader span {
  margin : 0px 10px 10px 0px;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}

#personal_details{
    display : flex;
    padding-right : 130px;
}

#personal_details h2{
    margin : 0px;
    font-family : "Bebas Neue", sans-serif;
    color: #140748;
    font-size: 40px;
    font-weight: 400;
    margin-bottom : 30px;
}

.image{
    background-image: url('../images/back_section3.png');
    width : 60%;
    height : 900px;
    background-size : cover;
    background-position: center;
}

.details{
    width : 40%;
    padding-left : 70px;
    padding-top : 130px;
    padding-bottom : 130px;
}

.details p{
    font-family: "Roboto", sans-serif;
    color : #666666;
    font-weight : 400;
    font-size : 16px;
    line-height: 1.6em;
    margin-bottom : 40px;
}

.list_items ul{
    list-style-type: none;
    padding : 0px;
    
}

.list_items {
    margin-bottom : 40px;
}

.list_items i{
    color : #7961E8;
    font-size: 18px;
}

.list_items li {
    margin-top : 15px;
    padding-bottom : 15px;
    display : flex;
    align-items : center;
}

.item_name{
    font-family: "Bebas Neue", sans-serif;
    font-size : 22px;
    padding-left : 15px;
    color : #2D2D2D;
}

.button{
    text-decoration : none;
    text-transform : uppercase;
    font-family :"Roboto", sans-serif;
    background-color : #140748;
    color : white;
    padding : 15px 25px 15px 25px;
    font-size : 14px;
    font-weight : 500;
}

#education{
    display : flex;
    padding-top : 130px;
    padding-bottom : 130px;
    /* height : 500px; */
}

.education-image{
    background-color: #FFFFFF;
    background-image: url(https://elementorkits.c-kav.com/demo-01/onepage2/wp-content/uploads/sites/5/2021/04/1080x1080-6-3.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size:cover;
    width: 50%;
    height: 800px;
    /* position : relative;
    background-image: url("../images/education.png");
    background-size : 50% auto;
    background-position : center right;
    background-repeat: no repeat;
    height : 500px;*/
} 

.education-left{
    margin-left : 180px;
    width : 40%
}

.education-left h2{
    font-family: "Bebas Neue", sans-serif;
    font-size : 40px;
    font-weight : 400;
    color : #140748;
}

.education-left h6{
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.short-description{
    
}