body {
    margin: 0px;
    padding: 0px;
    /* font-family: "Roboto", sans-serif; */
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;
    align-items: center;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

nav {
    /* padding : 20px; */
    display: flex;
}

nav a {
    font-weight: 800;
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), white), url('../images/back.webp');
    background-blend-mode: multiply;
    background-size: cover;
}

.container {
    margin-left: 200px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-bottom: 150px;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.heading {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    margin-top: 50px;
    color: white;
    line-height: 1.1;
}

#para {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    line-height: 1.4;
    padding-bottom: 20px;
    margin-top: 10px;
}

.divider {
    border-top: 0.1px solid rgba(255, 255, 255, 0.2);

}

.icons {
    padding-top: 30px;
}

.social_icon img {
    width: 40px;
    height: 40px;
}

.social_icon {
    margin-right: 10px;
}

.box img {
    width: 80px;
    height: 80px;
}

#services {
    padding-top: 130px;
    padding-bottom: 330px;
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 20px;
}

.divider {
    border-left: 1px solid lightgray;
}

.box {
    text-align: center;
}

.box h3 {
    font-size: 22px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: #140748;
}

.box p {
    color: #666666;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

#support {
    padding: 0px 130px 130px 130px;
    background-color: #140748;
    color: white;
    position: static;
    height: 330px;
}

.head {
    padding-bottom: 10px;
}

.head h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0px;
}

.description p {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-top: 0px;
}

#three_items {
    position: relative;
    bottom: 250px;
    display: flex;
    margin-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.mail_img {
    display: flex;
    align-items: center;
    width: 285px;
    justify-content: center;
}

.swipe_images {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 200px;
    padding-bottom: 30px;
}

.two_items {
    padding-right: 70px;
}

.circle-loader {
    position: relative;
    bottom: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.circle-loader span {
    margin: 0px 10px 10px 0px;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
}

#personal_details {
    display: flex;
    padding-right: 130px;
}

#personal_details h2 {
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    color: #140748;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.image {
    background-image: url('../images/back_section3.png');
    width: 60%;
    height: 900px;
    background-size: cover;
    background-position: center;
}

.details {
    width: 40%;
    padding-left: 70px;
    padding-top: 130px;
    padding-bottom: 130px;
}

.details p {
    font-family: "Roboto", sans-serif;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 40px;
}

.list_items ul {
    list-style-type: none;
    padding: 0px;

}

.list_items {
    margin-bottom: 40px;
}

.list_items i {
    color: #7961E8;
    font-size: 18px;
}

.list_items li {
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.item_name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    padding-left: 15px;
    color: #2D2D2D;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    background-color: #140748;
    color: white;
    padding: 15px 25px 15px 25px;
    font-size: 14px;
    font-weight: 500;
}

#education {
    display: flex;
    padding-top: 130px;
    padding-bottom: 130px;
    /* height : 500px; */
}

.education-image {
    background-color: #FFFFFF;
    background-image: url(https://elementorkits.c-kav.com/demo-01/onepage2/wp-content/uploads/sites/5/2021/04/1080x1080-6-3.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 800px;
    /* position : relative;
    background-image: url("../images/education.png");
    background-size : 50% auto;
    background-position : center right;
    background-repeat: no repeat;
    height : 500px;*/
}

.content-portion {
    padding-right: 80px;
    margin-left: 180px;
    width: 40%
}

.section-head {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #140748;
}

.content-box h6 {
    margin: 0px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.short-description {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 5px;
    color: #2D2D2D;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.long-description {
    margin-top: 0px;
    margin-bottom: 15px;
    color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.h6-head {
    padding-bottom: 15px;
}

.empty-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-style: dotted;
    border-width: 0px 0px 0px 2px;
    border-color: rgba(0, 0, 0, 0.1);
    margin: 0px 0px 0px 00px;
    padding: 10px 10px 0px 0px;
    width: 15%;
}

.container-box {
    display: flex;
}

.content-box {
    padding-top: 10px;
    padding-bottom: 30px;
}

.divider-box {
    padding-top: 10px;
    padding-bottom: 10px;
}

.divider {
    border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.circle i {
    font-size: 10px;
    color: #6EC1E4;
    font-weight: 900;
    /* transform: translateX(-50%); */
}

.circle {
    top: 09%;
    left: -15%;
    position: relative;
}

#experience {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 130px 0px 130px 0px;
}

.experience-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    background-image: url("../images/experience.png");
    height: 80%;
    background-repeat: no repeat;
    background-position: left top;
}

.experience-right{
    flex : 1;
    padding-left : 80px;
}

.mid-content {
    margin-left : 190px;
    margin-right : 190px;
    display : flex;
}

.blank-space{
    min-width: 200px;
    width : 50%;
    flex:1;
}

.experience-right h2{
    margin-top : 0px;
}

#featured{
    padding-bottom : 130px;
    padding-top : 130px;
    background-color: #FAFBFD;
}

.featured-container{
    margin-left : 190px;
    margin-right : 190px;
}

.elements-head{
    padding-left: 150px;
    padding-right: 150px;
    text-align : center;
    margin-bottom : 60px;
}

.elements-head h2{
    margin : 0px;
}

.elements-head p{
    text-align: center;
    color: #282E37;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top : 10px;
    margin-bottom : 14px;
}

.image-container{
    display : flex;
    margin-bottom : 40px;
}

.image-wrapper{
    padding : 10px;
}

.image-wrapper img{
    height : 265px;
    width : 265px;
}

.image-wrapper h3{
    margin-bottom: 0px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.third-container{
    display : flex;
    width : 100%;
}

.box-wrapper{
    width : 50%;
}

.box-title h4{
    margin : 0px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.box-title{
    text-align : center;
    background-color : white;
    margin : 10px;
    padding : 20px;
    box-shadow : 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.section-back{
    background-image : url("../images/back-section.png");
    background-size : cover;
    width : 100%;
    height : 800px;
}

.section-4{
    padding-bottom : 80px;
    position : relative;
    background-color: #FAFBFD;
}

.section-container{
    margin-left : 190px;
    margin-right : 190px;
}

.empty-space{
    height : 50%;
    position: relative;
}

.logoipsum-img{
    
    padding-left : 30px;
    padding-right : 30px;
}

.logoipsum-img img{
    width : 225px;
    height : 135px;
}

.content-images{
    display : flex;
    
}

.people{
    padding : 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.profile-img{
    padding-right : 15px;
}

.about{
    margin-bottom : 20px;
    color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height : 1.6em;
}

.name-job{
    display : flex;
    flex-direction: column;
    align-items : center;
    justify-content : center;
}
.name{
    color: #323335;
    font-family: "Roboto", Sans-serif;
    font-size : 16px;
    font-weight : 600;
    line-height : 1.5;
}

.job{
    font-family: "Roboto", Sans-serif;
    color : #1e1e1e;
    font-size : 14px;
    text-transform : uppercase;
    font-weight : 400;
    line-height : 1.5;
}

.profile-img img{
    border-radius : 50%;
    height : 60px;
    width : 60px;
}

.profiles {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -100px;
  margin-bottom: 60px;
}

.designation{
    display : flex;
}

.query{
    /* height  : 1000px; */
    background-color: transparent;
    background-image: linear-gradient(90deg, #FFFFFF 50%, #7961E8 50%);
}

.query-content h2{
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.query-wrapper {
  margin-left: 190px;
  margin-right: 190px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.query-content {
  background-color: #FFFFFF;
  width: 50%;              /* ✅ Keep this */
  box-sizing: border-box;  /* ✅ Required to include padding */
  padding: 150px 150px 150px 0;  /* ✅ OK */
}

.empty-div {
  box-sizing: border-box;
  width: 50%;
}

.small-heading{
    color: #140748;
    margin-bottom : 10px;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.query-content p{
    margin-top : 0px;
    margin-bottom : 40px;
    color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.phones{
    margin : 0px;
    color: #212832;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.6em;
}

.query-content h2{
    margin-top : 0px;
    margin-bottom : 40px;
}

.element-divider{
    /* border-top : 0.2px solid black;
    margin-top: 40px;
    margin-bottom: 40px; */
     height: 0.5px;              /* Thin line height */
  background-color: #0000001A;;   /* Or any color you want */
  width: 100%;              /* Full width of the container */
  margin-top: 40px;   
  margin-bottom : 40px;        /* Optional spacing above/below */
  border: none; 
}



